.Dictionary section {
  padding: 50px;
  background: rgb(231, 238, 252);
  border-radius: 13px;
  margin: 20px 0;
  box-shadow: 0px 4px 14px rgb(75, 102, 155);
}

.input {
  width: 100%;
  border-radius: 8px;
  padding: 5px;
  color: cornflowerblue;
  border: 1px solid;
}

h2 {
  color: cornflowerblue;
  font-size: smaller;
}
